{% extends 'includes/base.html' %}

{% block content %}





<section>

  {% include 'includes/alerts.html' %}
  <div class="col-md-12">
    <div class="row">
      {% include 'includes/planning_dashboard_sidebar.html' %}
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Connecté en tant que:</strong>
            <span>name</span>
          </header>
          <div class="card-body">
            <div class="row">

              <!-- start of doctor planning selction -->

              <div class="col-md-12">
                <div class="card" style="text-align:start;">
                  <div class="card-body">
                    <h5 class="card-title">Choisicez le docteur dont vous voulez gérer le planning : </h5>
                  </div>
                </div>
              </div>
              <div name="doctorPlanningSelectionForm">

                <div class="col-md-12">
                  <div class="card" style="text-align:center;">
                    <div class="card-body">
                      <form action="{% url 'newDoctor' %}" method="post">
                        {% csrf_token %}
                        <div class="d-flex flex-column flex-lg-row justify-content-around">

                          <div class="form-group px-2">
                            <label>Choix du docteur</label>
                            <select class="form-select" aria-label="Select Service" name="doctor">
                              <option value="">Choisir Docteur</option>
                              {% for doctor in doctors %}
                              <option value="{{ doctor.id }}">{{ doctor.full_name }}</option>
                              {% endfor %}
                            </select>

                          </div>

                          <div class="form-group px-2">
                            <label>Service</label>
                            <p name="docteur_service"></p>
                          </div>
                          <div class="form-group px-2">
                            <label>Spécialité </label>
                            <p name="doctor_speciality"></p>
                          </div>
                          <div class="form-group px-2">
                            <label>Matricule</label>
                            <p name="doctor_matricule"></p>
                          </div>
                          <div class="form-group px-2">
                            <label>Addresse Mail</label>
                            <p name="doctor_email"></p>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>


                  </head>

                  <body>
                    <div id='calendar'></div>
                  </body>

                  <!-- end of doctor Selection  -->

                      </div>
                    </div>
                  </div> <!-- card-body .// -->
        </article> <!-- order-group.// -->
      </main>
    </div> <!-- row.// -->
  </div>




</section>


{% endblock %}