{% load static %} {% block content %}

<!-- start my appointment -->
<h1 class="text-center">Mes mes-rendez-vous</h1>
<h2> Bonjour {{ patient }}</h2>
<h3>Voici la liste de vos rendez-vous:</h3>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                {% if all_appointments.count == 0 %}
                <p>Vous n'avez pas encore de rendez-vous pour le moment</p>
                {% else %}
                {% if current_appointments.count > 0 %}
                <div class="card-header">Rendez-vous actuels :</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nom du Docteur</th>
                                <th>Type d'intervention</th>
                                <th>Date de début du séjour</th>
                                <th>Date de fin du séjour</th>
                                <th>Durée du séjour</th>
                            </tr>
                        </thead>
                        {% for appointment in current_appointments %}
                        <tbody>
                            
                            <tr>
                                <td>{{ appointment.doctor }}</td>
                                <td>{{ appointment.intervention }}</td>
                                <td>{{ appointment.date_start }}</td>
                                <td>{{ appointment.date_stop }}</td>
                                <td>{{ appointment.duration }}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
                {% endif %}
                {% if future_appointments.count > 0 %}

                <div class="card-header">Rendez-vous futurs :</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nom du Docteur</th>
                                <th>Type d'intervention</th>
                                <th>Date de début du séjour</th>
                                <th>Date de fin du séjour</th>
                                <th>Durée du séjour</th>
                            </tr>
                        </thead>
                        {% for appointment in future_appointments %}
                        <tbody>
                            
                            <tr>
                                <td>{{ appointment.doctor }}</td>
                                <td>{{ appointment.intervention }}</td>
                                <td>{{ appointment.date_start }}</td>
                                <td>{{ appointment.date_stop }}</td>
                                <td>{{ appointment.duration }}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
                {% endif %}
                {% if past_appointments.count > 0 %}

                <div class="card-header">Rendez-vous passés :</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nom du Docteur</th>
                                <th>Type d'intervention</th>
                                <th>Date de début du séjour</th>
                                <th>Date de fin du séjour</th>
                                <th>Durée du séjour</th>
                            </tr>
                        </thead>
                        {% for appointment in past_appointments %}
                        <tbody>
                            
                            <tr>
                                <td>{{ appointment.doctor }}</td>
                                <td>{{ appointment.intervention }}</td>
                                <td>{{ appointment.date_start }}</td>
                                <td>{{ appointment.date_stop }}</td>
                                <td>{{ appointment.duration }}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
                {% endif %}
          
                {% endif %}
            </div>
        </div>
    </div>

</div>




<!-- end my appointment  -->

{% endblock %}