<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
      <a class="list-group-item {% if '/gestion-des-planning/' == request.path %}active{% endif %}" href="{% url 'planningdashboard' %}"> Gestion des plannings</a>
      <a class="list-group-item {% if '/liste-des-docteurs/' == request.path %}active{% endif %}" href="{% url 'listDoctors' %}"> Gestion des médecins</a>
      <a class="list-group-item {% if '/nouveau-docteur/' == request.path %}active{% endif %}" href="{% url 'newDoctor' %}">Ajouter des médecins </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href=""> <i class="fa fa-power-off"></i> <span class="text">Se déconnecter</span> </a>
    <!--   SIDEBAR .//END   -->
  </aside>