
  {% block content %}

    <div class="cart-body"> 
        <h3 class="cart-title"> rendez-vous demandé </h3>
        <p class="cart-text">
            Vous avez demandé un rendez-vous au service [] pour une intervention de type [] avec le praticien {{ doctor }}.
            <br>
            La durée du séjour demandé {% if duration_days == 1 %} d'une journée, le {{ date_start|date:'l d F Y'  }}.
            {% else %} est de {{ duration_days }} jours, du {{ date_start|date:'l d F Y'  }} au {{ date_stop|date:'l d F Y'  }}.
            {% endif %}
        </p>
        {% if appointment_requested_available %}
        <button type="submit" name="timeslot_id" value="{{ item.id }}">Confirmer le rendez-vous</button>
        {% else %}
        <p>{{ error_message_first_choice }}</p>
        {% endif %}

    </div>

{% endblock content %}