{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if services.service.image %}
                    <img src="{{ services.image.url }}" alt="{{ services.name }}" class="img-fluid">
                {% endif %}
                <h1>{{ services.name }}</h1>
                <p>{{ services.description }}</p>
            <h1>Nom du service :</h1>
            <p>{{ services.name }}</p>
            <div>
                <p> liste des interventions proposées : </p>
                <ul>
                    {% for intervention in interventions %}
                        <li>{{ intervention.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <p>Liste des docteurs :</p>
                <ul>
                    {% for doctor in doctors %}
                        <li>{{ doctor.fullname }}</li>
                    {% endfor %}
                </ul>
            </div>

            </div>
        </div>
    </div>
{% endblock %}
