    <!-- start of footer -->
    <footer class="small bg-white">
        <div class="container py-3 py-sm-5">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
              <h6>Quick links</h6>
              <ul class="list-unstyled">
                <li><a href="index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <h6>Information</h6>
              <ul class="list-unstyled">
                <li><a href="#0">Legal information</a></li>
                <li><a href="#0">Job opportunities</a></li>
                <li><a href="#0">Frequently Asked Questions</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <h6>Follow us</h6>
              <ul class="list-unstyled">
                <li><a href="#0"><i class="fab fa-fw fa-facebook"></i> Facebook</a></li>
                <li><a href="#0"><i class="fab fa-fw fa-instagram"></i> Instagram</a></li>
                <li><a href="#0"><i class="fab fa-fw fa-twitter"></i> Twitter</a></li>
                <li><a href="#0"><i class="fab fa-fw fa-youtube"></i> YouTube</a></li>
                <li><a href="#0"><i class="fab fa-fw fa-linkedin"></i> LinkedIn</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <h6>Our location</h6>
              <address>
                <strong>Company Name</strong><br>
                Steet Name<br>
                ZIP code and city<br>
                <i class="fas fa-fw fa-phone"></i> <a href="tel:+1234567890">(123) 456-7890</a><br>
                <i class="fas fa-fw fa-envelope"></i> <a href="mailto:info@domain.com">info@domain.com</a>
              </address>
            </div>
          </div>
          <ul class="list-inline mt-4 mb-0 text-center">
            <li class="list-inline-item">&copy; 2024 Company Name</li>
            <li class="list-inline-item">All rights reserved.</li>
            <div class="col-md-12 mx-auto mt-2">
              <p class="text-muted text-center" style="margin-bottom:0px;"> Développé par <i class="fa fa-heart" aria-hidden="true" style="color:#ff0000;"></i> <a href="https://www.linkedin.com/in/fran%C3%A7ois-le-bolc-h-36969758/" target="_blank" class="">François Le Bolc'h</a></p>
              <p class="text-muted text-center"><span class="px-2 text-center"><a href="mailto:francois@lebolch.fr">francois@lebolch.fr</a></span>
              <span class="px-2 text-center"><i class="fa fa-map-marker" aria-hidden="true"></i> Toulouse, France</span></p>
            </div>
          </ul>
        </div>
      </footer>
    </body>
  </html>