 <!-- start of the navbarre -->

 <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom fixed-top shadow mb-sm-4">
    <div class="container ">
      <a href="index.html" class="navbar-brand">
        <img src="static/elements/logo/soignemoi-high-resolution-logo-white-transparent.png" width="30%" height="30%" class="d-inline-block align-top" alt="">
      </a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse ms-auto" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="index.html" class="nav-link active" aria-current="page">Home</a>
          </li>

          <li class="nav-item">
            <a href="#soins" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
      <div id="connection" class="d-flex">
        <a href="login.html" class="btn btn-outline-light me-2">Connexion</a>
        <a href="register.html" class="btn btn-warning">Inscription</a>
      </div>
    </div>
  </nav>

<!-- end of the navbarre -->