{% load static %}
{% block content %}
<!-- start of the navbarre -->

<nav id='navbar' class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom fixed-top shadow mb-sm-4">
  <div class="container ">
    <a href="{% url 'home' %}" class="navbar-brand">
      <img src="{% static '/elements/logo/soignemoi-high-resolution-logo-white-transparent.png' %}" width="30%"
        height="30%" class="d-inline-block align-top" alt="">
    </a>
    <div class="collapse navbar-collapse ms-auto" id="navbarCollapse">
      <ul class="navbar-nav me-2 mb-2 mb-lg-0 mr-2 .list-group-item">
        <li class="nav-item">
          <a href="{% url 'home' %}#hopital" class="nav-link list-group-item text-light active"
            aria-current="hopital">Home</a>
        </li>

        <li class="nav-item">
          <a href="{% url 'home' %}#soins" class="nav-link list-group-item text-light">Services</a>
        </li>

        <li class="nav-item">
          <a href="{% url 'home' %}#contact" class="nav-link list-group-item text-light">Contact</a>
        </li>
      </ul>
    </div>
    <div id="connection" class="d-flex">
      <a href="login.html" class="btn btn-outline-light me-2">Connexion</a>
      <a href="register.html" class="btn btn-warning">Inscription</a>
    </div>
  </div>
</nav>

<style>
  #nav-link-active.htmx-added {
    color: var(--bs-navbar-active-color);
  }
</style>
<!-- end of the navbarre -->

{% endblock %}