{% extends 'homepage/base.html' %} {% load static %} {% block content %}

<!-- details of service -->

{% if serivice %}
<div class="container">
    <div class="bg-light bg-primary py-3 py-sm-5 mt-4">
        <div id="serviceDetails" class="row align-items-center">
            <div class="col-md-12 col-lg-6">
                <h1 class="display-1">{{ services.name }}</h1>
                <p>{{ services.description }}</p>
            </div>
            <div class="col-md-12 col-lg-6">
                <img src="{{ services.image.url }}" alt="{{ services.name }}" class="img-fluid">
            </div>
            <h2 class="mt-4">Type d'interventions proposées par le service {{ services.name }}:</h2>
            <div>
                <table class="table table-sm mt-2">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for intervention in interventions %}
                        <tr>
                            <td>{{ intervention.name }}</td>
                            <td>{{ intervention.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <h2 class="mt-4">Liste des médecins en {{ services.name }}:</h2>
                <ul>
                    {% for doctor in doctors %}
                    <li class="mt-2">
                        <p class="fw-bold">{{ doctor.fullname }} <span class="text-center fw-normal"> - {{
                                doctor.qualification }}</span></p>
                    </li>
                    {% endfor %}
                </ul>
                <div class="mt-4 text-center">
                    <a href="{% url 'home' %}#soins" class="btn btn-primary">Retour à la liste des services</a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- end of service details -->

{% endblock %}