{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/elements/logo/soignemoi-favicon-color.ico' %}">

  </head>
  <body>

    <section class="section-conten padding-y bg">

      {% include 'includes/alerts.html' %}
      <div class="container">
        <div class="row">
        {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
          <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Connecté en tant que:</strong>
            <span>{{user.full_name}}</span>
          </header>
          <div class="card-body">
            <div class="row">
      
            <div class="col-md-6">
              <div class="card" style="text-align:center;">
                <div class="card-body">
                  <h5 class="card-title">Mes rendez-vous : </h5>

                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card" style="text-align:center;">
                <div class="card-body">

                </div>
              </div>
            </div>
      
            </div> <!-- row.// -->
          </div> <!-- card-body .// -->
      
          </article> <!-- order-group.// -->
        </main>
      </div> <!-- row.// -->
      </div>
      
      
      </section>